@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
    @apply font-bold;
  }
}

/* html {
  font-size: 62.5%;
} */

body {
  @apply bg-white;
  @apply text-base;
}

.container {
  width: 540px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.btn-opacity {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

@media (hover: none) {
  .btn-opacity:active {
    opacity: 0.5;
  }
}

@media (hover: hover) {
  .btn-opacity:hover {
    opacity: 0.5;
  }
}
